.header {
  height: auto;
  overflow-x: hidden;
  background: transparent;
  box-shadow: none;
  
}

.header-arows * {
  margin-left: 1.75rem;
}

.header-arows *:active,
.header-arows *:hover {
  background: none;
}
.card {
  width: 380px;

  display: grid;
  justify-content: flex-start;
  flex-direction: column;
  grid-gap: 1.25rem;
  text-align: left;
}

.date {
  justify-self: flex-start;
}

.card-container{
    margin: 0 auto;
}

.hover:hover{
 cursor: pointer;
 text-decoration: underline solid 4px;
}