
.logo {
  position: absolute;
}

.logo-align-home {
  margin: 2.75rem calc(100vw / 2 - 3rem);
  text-align: center;
}

.logo-align {
  margin: 2.75rem calc((100vw / 2) - 3rem);
  margin-right: 10rem;
}

.to-home-link {
  margin: 1.25rem 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
}
.to-home-link:hover {
  text-decoration: underline solid 4px;
}
.to-home-arrow {
  margin-right: 0.5rem;
  height: 2.5rem;
  transform: translateY(0.5rem);
}
.to-home-text {
  display: none;
}

.removed {
  display: none;
}

@media screen and (min-width: 778px) {
  .logo-align {
    margin: 2.75rem calc((100vw / 3) * 2.3);
    margin-right: 10rem;
  }
  .to-home-link {
    margin: 2rem 15%;
    font-size: 1.6rem;
  }
  .to-home-text {
    display: inline;
  }

  .to-home-arrow {
    margin-right: 0.5rem;
    height: 1.6rem;
    transform: translateY(0.25rem);
  }
}
@media screen and (min-width: 992px) {
  .to-home-link {
    margin: 2rem 15%;
  }
}

@media screen and (max-width: 778px) {
  .header {
    height: 4.5rem;
  }
  .logo-align-home {
    margin: 1.5rem calc(100vw / 2 - 2rem);
    text-align: center;
  }
}
