.launches {
  margin-top: 7rem;
}

.header {
  height: auto;
  overflow-x: hidden;
  background: transparent;
  box-shadow: none;
  text-align: center;
  margin-bottom: 3.25rem;
}
.card-container {
  width: 580px
}
.card {
  /* width: 100%; */
  display: grid;
  justify-content: flex-start;
  flex-direction: column;
}


.image-container img {
  text-align: center;
}

.date {
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 632px) {
  .image-container img {
    transform: translateX(-20%);
}
}

.load-Btn{
  
  margin: 3rem auto 0;
  text-align: center;
}

.description {
  font-style: italic;
}

.hover-text:hover{
  text-decoration: underline solid 2px;
  cursor: pointer;
}