.main-pg {
  background: linear-gradient(1.22deg, #181b48 3.9%, rgba(24, 27, 72, 0) 98.66%) ,
    url("./../assets/bg_main.png") no-repeat fixed;
}

.rocket-pg {
  background: linear-gradient(1.22deg, #181b48 3.9%, rgba(24, 27, 72, 0) 98.66%),
    url("./../assets/bg_rocket.png") no-repeat fixed;
}

.event-pg {
  background: linear-gradient(1.22deg, #181b48 3.9%, rgba(24, 27, 72, 0) 98.66%),
    url("./../assets/bg_event.png") no-repeat fixed;
}

.launch-pg {
  background: linear-gradient(1.22deg, #181b48 3.9%, rgba(24, 27, 72, 0) 98.66%),
    url("./../assets/bg_launch.png") no-repeat fixed;
}